/*====subscription css====*/
#page-header {
  position: relative;
  background: url("../img/slide1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 250px; }

#subscription-blog .card {
  background: #121526;
  color: white; }
  #subscription-blog .card .card-header {
    background: #4AF59B; }
  #subscription-blog .card .list-group-item {
    background-color: #121526;
    border: 1px solid #381C6E; }
  #subscription-blog .card .card-footer {
    border-top: 1px solid #4AF59B; }

#subscription-blog .btn-1 {
  background-color: #6500FF !important;
  color: white; }

#subscription-blog .btn-2 {
  background-color: #6500FF !important;
  color: white; }

#subscription-blog .btn-3 {
  background-color: #6500FF !important;
  color: white; }

#faq {
  background: #121526;
  border-top: 1px solid #381C6E; }
  #faq .card-header {
    background-color: #4AF59B; }
    #faq .card-header a {
      text-decoration: none; }

footer {
  background-color: #111527;
  border-top: 1px solid #381C6E; }
