$dark-overlay: rgba(0,0,0,0.7);
$icon-size: 50px;
//===basic
body{
  background-color: #050711;
}
h2{
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    text-align: left;
}
.form-control:focus {
  color: #495057;
  background-color: rgba(26,29,46,255);
  border-color:#381C6E;
  outline: 0;
  box-shadow: none;
}

/*=====Top Section======*/
.section-top{ 
  #left-arrow{
    position: absolute;
    top: 20%;
    color:#4AF59B;
  }
  .card{
    background-color: #050711;
    color: white;
    height: 80vh;
    border-radius: 10px;
  }
  .card-1{
    border: 2px solid #381C6E;
  }
  .card-header{
    padding: 0px;
  }
  input{
    background-color: rgba(26,29,46,255);
    border: 2px solid #381C6E;
    border-radius: 30px; 
  }
  .card-body{
    padding-left: 30px;
    padding-right: 30px;
    .fa-file{
      color: #4AF59B;
    }
    #downDoc{
      color: #4AF59B;
    }
    a{
      color:#4AF59B;
      text-decoration: underline; 
      position: absolute;
      right: 60px;
    }
    a:hover{
      text-decoration: none; 
    }
  }
  .fa-caret-down{
    position: absolute; 
    left: 205px; 
    top: 53.5%;
    color:#381C6E;
  }
  .card-footer{
    background-color: #050711;
    border-radius: 5px;
    padding: 15px;
    .fa{
      font-size: 25px;
      padding: 0px 20px;
    }
    .fa-circle{
      color: #c40a67;
    }
    .fa-play{
      color: #53faa7;
      cursor: pointer;
    }
  }
  .form-control{
    color: #fff;
  }

.all-step{
  li{
    list-style: none;
    color: #4AF59B;
    text-transform: uppercase;
    line-height: 50px;
  }
}

//--------
.button__box{
  h3{
    font-size: 1.25rem;
  }
  span{
    font-size: 0.875rem;
    color: rgb(153, 153, 153);
  }
  .sc-1{
    margin-bottom: 25px;
    .steps{
      padding: 14px 63px;
      margin-left: -1px;
      margin-top: -1px;
    }
    .console{
      padding: 14px 43px;
      margin-top: -1px;
    }
    span{
      border: 2px solid #381C6E;
      border-radius: 8px;
      margin: 0px 15px 5px 0px;
      transition: all 0.2s ease-out 0s;
      font-size: 14px;
      text-transform: uppercase;
      color: #fff;
      font-weight: bold;
    }
    a{
      text-decoration: none;
      color: rgb(153, 153, 153);
    }
    .inspan:checked + span {
      border-color: #4AF59B;
      color: rgb(0, 0, 0);
      background: #4AF59B none repeat scroll 0% 0%;
    }
}
}

}

#icon-boxes-bot{
  input{
    background: rgba(26,29,46,255);
    border: 2px solid #381C6E;
    border-radius: 30px;
    color: white;
    padding-left: 30px;
  }
  .fa{
    font-size: $icon-size;
    color: #4AF59B;
  }
  .fa:hover{    
    color: #6500FF !important;
  }
  .card{
  	background-color: #111527;
    height: 20rem;
    p{
      color: #ddd;
      padding-top: 10px;
      font-size: 14px;
    }
  }
  .cardtitle{
    font-weight: bold;
  }
  .cardlogo{
    height: 50px;
  }
.btn-dashboard{
  background-color: #6500FF !important;
  margin-top: 20px;
  width: 80%;
  a{
    text-decoration: none;
    color: white;
  }
}
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    font-size: 18px;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
    font-size: 18px;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
    font-size: 18px;
}

@media (min-width: 375px){
.section-top .button__box .sc-1 .steps {
    padding: 14px 148px;
    margin-left: -1px;
    margin-top: -1px;
}
.section-top .button__box .sc-1 .console {
    padding: 14px 121px;
    margin-top: -1px;
    margin-left: 14px;
}
.section-top .number-result{
  width: 60%;
}
.section-top .fa-caret-down{
  position: absolute; 
  left: 175px; 
  top: 52.5%;
  color:#381C6E;
}
.section-top .top-text{
  font-size: 22px;
}
.cardtitle-1{
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}
.btn-dashboard-1{
  background-color: #6500FF !important;
  margin-top: 20px;
  width: 87%;
  a{
    text-decoration: none;
    color: white;
  }
}
#icon-boxes-bot .card .res-card-text{
  padding-top: 29px;
}

}

@media (min-width: 576px){
.section-top .button__box .sc-1 .steps {
    padding: 14px 230px;
    margin-left: -1px;
    margin-top: -1px;
}
.section-top .button__box .sc-1 .console {
    padding: 14px 203px;
    margin-top: -1px;
    margin-left: 14px;
}
.section-top .number-result{
  width: 50%;
}
.section-top .fa-caret-down{
  position: absolute; 
  left: 225px; 
  top: 52.5%;
  color:#381C6E;
}
.section-top .top-text{
  font-size: 30px;
}
.cardtitle-1{
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}
.btn-dashboard-1{
  background-color: #6500FF !important;
  margin-top: 20px;
  width: 87%;
  a{
    text-decoration: none;
    color: white;
  }
}
#icon-boxes-bot .card .res-card-text{
  padding-top: 29px;
}

}

@media (min-width: 768px){
.section-top .button__box .sc-1 .steps {
    padding: 14px 80px;
    margin-left: -1px;
    margin-top: -1px;
}
.section-top .button__box .sc-1 .console {
    padding: 14px 53px;
    margin-top: -1px;
    margin-left: 14px;
}
.section-top .number-result{
  width: 40%;
}
.section-top .fa-caret-down{
  position: absolute; 
  left: 160px; 
  top: 52.5%;
  color:#381C6E;
}
.section-top .top-text{
  font-size: 32px;
}
.cardtitle-1{
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}
.btn-dashboard-1{
  background-color: #6500FF !important;
  margin-top: 20px;
  width: 87%;
  a{
    text-decoration: none;
    color: white;
  }
}
#icon-boxes-bot .card .res-card-text{
  padding-top: 29px;
}

}

@media (min-width: 992px){
.card {
    height: 24rem;
}
.section-top .button__box .sc-1 .steps {
    padding: 14px 48px;
    margin-left: -1px;
    margin-top: -1px;
}
.section-top .button__box .sc-1 .console {
    padding: 14px 28px;
    margin-top: -1px;
    margin-left: 0px;
}
.section-top .number-result{
  width: 30%;
}
.section-top .top-text{
  font-size: 32px;
}
#icon-boxes-bot .card .res-card-text{
  padding-top: 28px;
}
.cardtitle{
  font-size: 19px;
}
.cardtitle-1{
  font-size: 17px;
  font-weight: bold;
  padding-top: 23px;
}
.btn-dashboard-1{
  background-color: #6500FF !important;
  margin-top: 20px;
  width: 87%;
  a{
    text-decoration: none;
    color: white;
  }
}
.section-top .fa-caret-down{
  position: absolute; 
  left: 170px; 
  top: 52.5%;
  color:#381C6E;
}

}

@media (min-width: 1200px){
.cardtitle-1{
  font-size: 20px;
}
.section-top .button__box .sc-1 .steps {
    padding: 14px 63px;
    margin-left: -1px;
    margin-top: -1px;
}
.section-top .button__box .sc-1 .console {
    padding: 14px 43px;
    margin-top: -1px;
    margin-left: 0px;
}
.section-top .fa-caret-down{
    position: absolute; 
    left: 205px; 
    top: 53%;
    color:#381C6E;
  }
.section-top .number-result{
  width: 30%;
}
.section-top .top-text{
  font-size: 32px;
}

}